<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
        crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" href="css/style.css" /> 
        
        <!--AQUÍ CONECTE EL JAVASCRIPT SÓLO SI SE USA EL onclick AQUÍ DENTRO DEL HTML-->
        <script type="text/javascript" src="javascript/CustomerCreation.js"></script>

        <title>Create Account</title>
    </head>
    <body style="background-image: url(img/background.jpg);">
        <nav class="navbackground"  >
          <div class="container">
            <a class="navbar-brand" href="log_in.html">
              <img src="img/icon.png"width="110" height="100">
            </a>
            &nbsp;&nbsp;CREATE ACCOUNT
          </div>
        </nav>
      <div id = "back">
        <div id = "principalSection">
          <br/>

          <form id="secondSection">
            <div class="mb-3">
              <label class="form-label">Name</label>
              <input class="form-control" id="nameInput">
            </div>
            <div class="mb-3">
              <label class="form-label">Address</label>
              <input class="form-control" id="addressInput">
            </div>
            <div class="mb-3">
              <label class="form-label">Birthdate</label>
              <br/>
              <input style="font-family: consolas; background-color: #00c1d5; width: 100%; height: 40px;" type="date" id="birthdateInput" min="1900-01-01">
            </div>
          </form>

          <form id="firstSection">
            <div class="mb-3">
              <label class="form-label">Create Your User Name</label>
              <input class="form-control" id="userInput">
            </div>
            <div class="mb-3">
              <label class="form-label">Create Your Password</label>
              <input type="password" class="form-control" id="passwordInput">
            </div>
            <div class="mb-3">
              <label class="form-label">Comfirm Your Password</label>
              <input type="password" class="form-control" id="confirmPasswordInput">
            </div>
            <!--QUITADO POR PRUEBA
            <a href="log_in.html">
            -->

            <!--<a href="customer_order_list.html">-->

              <!--REFERENCIANDO FUNCIÓN EN JAVASCRIPT
                SÓLO SI NO SE USA EL onclick AQUÍ DENTRO DEL HTML
              <button id="createCustomer" style= "font-family: consolas; background-color: rgb(219, 143, 0); width: 40%; margin-left: 30%;" type="button" class="btn btn-primary">CREATE ACCOUNT</button>
              -->
              <!--SÓLO SI SE USA EL onclick AQUÍ DENTRO DEL HTML, PARA LA PRUEBA DE JSON SE USARÁ SÓLO UN .js, TENDRÁ type="button" POR EL MOMENTO-->
              <button id="createCustomer" style= "font-family: consolas; background-color: rgb(219, 143, 0); width: 40%; margin-left: 30%;" type="button" class="btn btn-primary" onclick="insertCustomerData()">CREATE ACCOUNT</button>
              
            <!--</a>--> 
          </form>
          <br/>
        </div>
      </div>

              
        <!--AQUÍ CONECTE EL JAVASCRIPT SÓLO SI NO SE USA EL onclick AQUÍ DENTRO DEL HTML
          PARA LA PRUEBA DE JSON SE USARÁ SOLO UN .js
        <script type="text/javascript" src="javascript/main.js"></script>
        -->

    </body>
</html>