<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
        crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" href="css/style.css" />


        <!--PARA PRUEBA JSON SE REFERENCIARÁ AQUÍ EL .js
        <script type="text/javascript" src="javascript/CustomerOrderList.js"></script>
        -->


        <title>Order List</title>
      </head>
    <body style="background-image: url(img/background_shop.jpg);">
        <nav class="navbackground"  >
          <div class="container">
            <img src="img/icon.png" width="110" height="100">
            <a href = "customer_product_list.html"><button>VIEW PRODUCTS</button></a>
            <button disabled>VIEW ORDERS</button>
          </div>
        </nav>

      <div id = "back">
        <div id = "principalSection">

          

          <form id="secondSection">
          </form>
          <form id="firstSection">         
          </form>

          <br/>
        </div>
      </div>

      

    </body>
    <!--PARA PRUEBA JSON SE REFERENCIARÁ AQUÍ EL .js-->
    <script type="text/javascript" src="javascript/CustomerOrderList.js"></script>
</html>