<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
        crossorigin="anonymous"
        />
        <link rel="stylesheet" type="text/css" href="css/style.css" /> 
        <title>Sheikah Store</title>
      </head>
    <body style="background-image: url(img/background.jpg);">

        <nav class="navbackground"  >
          <div class="container">
            <a class="navbar-brand" href="log_in.html">
              <img src="img/icon.png" width="110" height="100">
            </a>
            &nbsp;&nbsp;SHEIKAH STORE
          </div>
        </nav>

      <div id = "back">
        <div id="formlog">
          <br/>
            <form id="divlog">
              <div class="mb-3">
                <label class="form-label">User Name</label>
                <input class="form-control" >
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <a href="customer_product_list.html">
                <button style= "font-family: consolas; background-color: rgb(219, 143, 0); width: 40%; margin-left: 30%;" class="btn btn-primary"  type="button" value="clck here">SUBMIT</button>
              </a> 
            </form>
          <br/>
        </div>
        <div style="margin-left: 25%;">
          <a href="customer_creation.html" style="color: rgb(219, 143, 0);">Create Account</a>
        </div>
      </div>
    </body>
</html>